.box {
  background-color: #e8e500;
  padding-left: 5vmin;
  padding-right: 5vmin;
  padding-bottom: 7vmin;
  padding-top: 0.5vmin;
  border-radius: 3%;
  width: 70vw;
  color: black;
  display: flex;
  flex-direction: column;
}

.flatArrangement_small {
  display: flex;
  align-items: flex-end;
  width: 25vw;
}

.flatArrangement_big {
  display: flex;
  align-items: flex-end;
}

.text-divider {
  border-left: 3px solid #000000;
  padding: 8px 3px;
}

#outputMaterialsPpm {
  width: 15vw;
  height: 8vw;
  font-size: larger;
}

#outputMaterialsVolume {
  width: 15vw;
  height: 8vw;
  font-size: larger;
}

.answer {
  display: flex;
  background-color: #e9e793;
  border-radius: 3%;
  margin: 1vw;
  padding: 2vw;
  justify-content: space-between;
  align-items: flex-end;
}

.smallboxL {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.smallboxR {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-top: 5vw;
}

.boldFont {
  font-weight: bold;
}

#diluteButton {
  width: 50vw;
  height: 20vw;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 5%;
  text-align: center;
  margin-top: 5vw;
  background-color: #dff68f;
  color: #586e58;
  border-color: #586e58;
}

.centerArrangement {
  width: 100%;
  text-align: center;
}
